version: '3'

services:
  splash:
    image: scrapinghub/splash
    networks:
      - bridge1

  redis:
    image: library/redis:5.0-alpine
    restart: unless-stopped
    networks:
      - bridge1

  db:
    image: library/postgres:11.1-alpine
    restart: unless-stopped
    networks:
      - bridge1
    environment:
      - POSTGRES_USER=django
      - POSTGRES_PASSWORD=django

  web:
    build:
      context: .
      dockerfile: ./Dockerfile
    image: umrashrf/address_manager
    restart: unless-stopped
    networks:
      - bridge1
    ports:
      - "8000:8000"
    depends_on:
      - "db"
      - "splash"
    env_file:
      - .env

  scrapyd:
    image: umrashrf/address_manager
    command: scrapyd
    restart: unless-stopped
    networks:
      - bridge1
    env_file:
      - .env
    depends_on:
      - "web"
      - "splash"

  celery:
    image: umrashrf/address_manager
    command: celery -A address_manager worker -E -l info
    restart: unless-stopped
    networks:
      - bridge1
    env_file:
      - .env
    depends_on:
      - "db"
      - "web"
      - "redis"
      - "scrapyd"

  celery_beat:
    image: umrashrf/address_manager
    command: celery -A address_manager beat -l info -S django
    restart: unless-stopped
    networks:
      - bridge1
    env_file:
      - .env
    depends_on:
      - "db"
      - "web"
      - "redis"
      - "scrapyd"

networks:
  bridge1:
    driver: bridge
