[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-cms = ">=3.6,<3.7"
djangocms-admin-style = "<1.5,>=1.3"
django-treebeard = "<5.0,>=4.0"
djangocms-text-ckeditor = ">=3.7,<3.8"
djangocms-link = ">=2.3"
djangocms-style = ">=2.1"
djangocms-googlemap = ">=1.2"
djangocms-snippet = "<2.2,>=2.1"
djangocms-video = "<2.2,>=2.0"
djangocms-column = ">=1.9"
djangocms-file = "<3.0,>=2.2"
djangocms-picture = "<2.2,>=2.0"
django-dynamic-scraper = {git = "git://github.com/umrashrf/django-dynamic-scraper.git"}
easy-thumbnails = "*"
django-filer = ">=1.3"
django-classy-tags = ">=0.9"
django-sekizai = ">=1.0"
django-mptt = ">0.9"
html5lib = ">=1.0.1"
six = "*"
pytz = "*"
scrapy-djangoitem = "==1.1.1"
scrapy-splash = "==0.7.2"
loginform = "==1.2.0"
gunicorn = "==19.9.0"
Django = "<2.0"
Scrapy = "==1.6.0"
Pillow = ">=3.0"

[requires]
python_version = "3.7"
